:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  line-height: 24px;
  background-color:#f5f5f5;
}

.container {
  padding-top: 10vh;
}

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #212121;
  text-decoration: inherit;
}

a:hover {
  color: #000000;
  font-weight: bold;
}